body {
  text-align: center;
  margin: 0;
}

header {
  background-color: #F15B31;
  padding: 30px 20px;
  border-bottom: 10px solid #00A6B3;
}

h1 {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 1px;
  color: #FFF;
  margin: 0;
}

.modalAlert {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 38px;
  letter-spacing: 1px;
  color: #FFF;
  line-height: 40px;
}

h1, a, button, .modalAlert {
  text-transform: uppercase;
  text-decoration: none;
}

a {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  color: #FFF;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-color: #FFF;
}

main {
  width: 60%;
  margin: 35px auto;
}

h2 {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  color: #0D2C40;
}

h3 {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 46px;
  letter-spacing: 1px;
  color: #F15B31;
  margin: 0 auto;
}

h4 {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 60px;
  color: #FFF;
  background: #0D2C40;
  margin: 20px auto 10px auto;
  padding: 10px 20px;
  display: inline-block;
}

p {
  font-family: "Droid serif", serif;
  line-height: 26px;
  font-size: 18px;
}

img {
  margin: 40px 8px 10px 8px;
  cursor: pointer;
  border-radius: 7px;
}

button {
  margin: 10px auto;
  height: 60px;
  width: 200px;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  color: #00A6B3;
  cursor: pointer;
  border-radius: 10px;
  background-color: #FFF;
  border: none;
  padding-top: 4px;
  line-height: 20px;
}

.start, .replay {
  font-size: 30px;
  padding: 0;
  margin-bottom: -10px;
}

.start:hover, .replay:hover {
  text-decoration: underline;
}

footer {
  text-transform: uppercase;
  padding: 0 20px;
  background-color: #0D2C40;
  color: #FFF;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
  position: fixed;
  bottom: 0;
  width: 100%;
}

p {
  font-family: Raleway, sans-serif;
}

.scoreBoard {
  font-weight: 600;
  font-size: 26px;
}

#count {
  font-weight: 800;
  font-size: 52px;
  color: #000;
  vertical-align: top;
}

.copyright {
  float: left;
}

.message {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
  color: #F15B31;
  font-weight: 700;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContent {
  background: #F15B31;
  border: 2px solid #FFF;
  margin: 15% auto;
  padding: 10px 50px 20px 70px;
  border-radius: 10px;
  width: 35%;
  display: inline-block;
}

.modalContent {
  animation: grow .25s cubic-bezier(0,0,1,1) 1;
}

@keyframes grow {
  0% {transform: scale(0,0);}
  50% {transform: scale(0.5,0.5);}
  100% {transform: scale(1,1);}
}

.bonusStyle {
  font-size: 50px;
  color: #FFF;
  font-weight: 800;
  margin: 40px auto;
  padding-top: 20px;
}

.bonusStyle {
  animation: flash .2s cubic-bezier(0,0,1,1) infinite;
}

@keyframes flash {
  50% {opacity: 0;}
}

#resetGame {
  display: none;
}
