body {
  text-align: center;
  margin: 0;
}

header {
  background-color: #F15B31;
  padding: 30px 20px;
}

h1 {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 1px;
  color: #FFF;
  margin: 0;
}

h1, a, button {
  text-transform: uppercase;
  text-decoration: none;
}

nav {
  background-color: #00A6B3;
  padding: 20px 0;
}

a {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  color: #FFF;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-color: #FFF;
}

main {
  width: 850px;
  margin: 35px auto;
}

h2 {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  color: #0D2C40;
}

p {
  font-family: "Droid serif", serif;
  line-height: 26px;
  font-size: 18px;
}

img {
  margin: 40px 8px 0 8px;
}

button {
  margin: 40px auto;
  height: 60px;
  width: 200px;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  color: #FFF;
  cursor: pointer;
  border-radius: 10px;
  background-color: #00A6B3;
  border: none;
}

footer {
  text-transform: uppercase;
  padding: 0 20px;
  background-color: #0D2C40;
  color: #FFF;
  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}

p {
  font-family: Raleway, sans-serif;
}

.copyright {
  float: left;
}

.message {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
  color: #F15B31;
  font-weight: 700;
}